# Python
__pycache__/
backend/data/
backend/tmp/
results/
myenv/
*.egg-info/
*.egg
.installed.cfg
.env
MANIFEST

# Node.js
frontend-vue/node_modules/
frontend-vue/package-lock.json
frontend-vue/src/client/