# Python
__pycache__/
*.py[cod]
.venv/
myenv/
.env
.mypy_cache/
.pytest_cache/

# --- Analysis and temp data ---
backend/tmp/
backend/data/
results/
*.egg-info/
*.egg
.installed.cfg
MANIFEST

# --- Node.js ---
**/node_modules/
**/dist/
**/src/client/

# --- Other ---
.DS_Store