.file-tree ul {
  list-style: none !important;
  padding-left: 1rem;
  margin: 0;
  position: relative;
}

.file-tree > ul > li {
  padding-left: 0;
}

.file-tree li {
  position: relative;
  padding-left: 18px;
}

.file-tree li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -6px;
  height: 100%;
  border-left: 1px solid var(--primary-color-light);
}

.file-tree li::after {
  content: "";
  position: absolute;
  top: 12px;
  left: -6px;
  width: 0.5rem;
  border-top: 1px solid var(--primary-color-light);
}

.dark-mode .file-tree li::before,
.dark-mode .file-tree li::after {
  border-color: #9b9ca4;
}

.file-tree li:last-child::before {
  height: 12px;
}

.file-tree span {
  position: relative;
}

.file-tree span.file::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 1em;
  height: 1em;
  background-image: url('../assets/img/python.svg');
  background-size: 0.875rem;
  background-position: center;
  background-repeat: no-repeat;
  padding: 4px 0 4px 8px;
}

.file-tree span.folder:not(.root)::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 1em;
  height: 1em;
  background-image: url('../assets/img/folder-open.svg');
  background-size: 0.875rem;
  background-position: center;
  background-repeat: no-repeat;
  padding: 4px 0 4px 8px;
}

.file-tree li.collapsed span.folder:not(.root)::before {
  background-image: url('../assets/img/folder.svg');
}

.file-tree span:hover::before {
  background-color: #9b9ca4;
  border-radius: 6px 0 0 6px;
}

.file-tree li.collapsed ul {
  display: none;
}

.dark-mode .file-tree span.folder:not(.root)::before {
  background-image: url('../assets/img/folder-open-snow.svg');
}

.dark-mode .file-tree li.collapsed span.folder:not(.root)::before {
  background-image: url('../assets/img/folder-snow.svg');
}

/* Styles for folders and files */
span {
  margin-left: 4px;
  padding: 2px 4px 4px;
  line-height: 1.5em;
  border-radius: 0 6px 6px 0;
}

span:hover {
  background-color: #9b9ca4;
}

span.selected {
  background-color: #9b9ca4;
  font-weight: bold;
}

.file-tree > ul {
  padding: 0;
}

.file-tree > ul > li:before,
.file-tree > ul > li:after {
  content: none;
}

.root::before,
.root::after {
  content: none;
}

.root {
  margin: 0;
  border-radius: 6px;
}

.folder {
  cursor: pointer;
}

.file {
  cursor: pointer;
}

.highlighted::before,
.highlighted::after {
  border-color: red;
}
