.container {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.container.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.repo-general-info {
    /* column-count: 2; */
}

.repo-general-info p {
    font-weight: bold;
    margin: 0 0 1rem;
}

.repo-general-info span {
    font-weight: normal;
}

.filter-wrapper {
    position: relative;
    width: fit-content;
    margin-bottom: 2rem;
}

.filter-wrapper #filter-table {
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    width: fit-content;
}

.filter-wrapper i {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--primary-color);
}

table {
    width: 100%;
    border-spacing: 0;
}

thead {
    background-color: var(--primary-color);
    color: snow;
}

th {
    text-align: left;
    padding: 0.75rem 0.5rem;
    cursor: pointer;
    font-weight: normal;
    margin-bottom: 0.5rem;
}

th i {
    margin-left: 0.5rem;
}

th:nth-child(1) {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

th:last-child {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

th:nth-child(2),
th:nth-child(3),
td:nth-child(2),
td:nth-child(3) {
    text-align: center;
}

td {
    padding: 0.5rem;
}

tbody tr:first-child td {
    padding-top: 1rem;
}

tr:not(:last-of-type) td {
    border-bottom: 1px solid var(--primary-color);
}
