.repos-summary-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.repos-summary-list-block h3 {
    font-weight: 600;
    line-height: 1.75rem;
    margin: 0 0 1rem;
}

.repos-summary-list-block a {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}