.file-tree {
  ul {
    list-style: none !important;
    padding-left: 1rem;
    margin: 0;
    position: relative;

    &:first-child {
      padding: 0;
    }
  }

  > ul > li {
    padding-left: 0;
  }

  li {
    position: relative;
    padding-left: 18px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -6px;
      height: 100%;
      border-left: 1px solid var(--primary-color-light);
    }

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      left: -6px;
      width: 0.5rem;
      border-top: 1px solid var(--primary-color-light);
    }

    &:last-child::before {
      height: 12px;
    }

    &.collapsed {
      ul {
        display: none;
      }

      span.folder:not(.root)::before {
        background-image: url("../assets/img/folder.svg");

        &:hover::before {
          background-image: url("../assets/img/folder-snow.svg") !important;
        }
      }
    }

    &.expanded span.folder:not(.root):hover::before {
      background-image: url("../assets/img/folder-open-snow.svg");
      height: 1em;
    }

    &.highlighted {
      &::before,
      &::after {
        border-color: red;
      }
    }
  }

  span {
    position: relative;
    margin-left: 4px;
    padding: 1px 4px 4px;
    line-height: 1.5em;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    display: flex;

    &.file {
      &::before {
        content: "";
        position: absolute;
        left: -20px;
        top: 50%;
        transform: translateY(-50%);
        width: 1em;
        height: 1em;
        background-image: url("../assets/img/python.svg");
        background-size: 0.875rem;
        background-position: center;
        background-repeat: no-repeat;
        padding: 9px 0 4px 8px;
      }
    }

    &.folder:not(.root)::before {
      content: "";
      position: absolute;
      left: -20px;
      top: 50%;
      transform: translateY(-50%);
      width: 1em;
      height: 1em;
      background-image: url("../assets/img/folder-open.svg");
      background-size: 0.875rem;
      background-position: center;
      background-repeat: no-repeat;
      padding: 9px 0 4px 8px;
    }

    &:hover {
      background-color: var(--primary-color);
      color: snow;

      &::before {
        background-color: #9b9ca4;
        border-radius: 6px 0 0 6px;
      }
    }

    &.selected {
      background-color: #9b9ca4;
      font-weight: bold;
    }

    &.root {
      margin: 0;
      border-radius: 6px !important;

      &::before,
      &::after {
        content: none;
      }
    }
  }

  > ul > li {
    &::before,
    &::after {
      content: none;
    }
  }
}

// Dark mode styles
.dark-mode {
  .file-tree {
    li {
      &::before,
      &::after {
        border-color: #9b9ca4;
      }
    }

    span {
      &:hover {
        background-color: #9b9ca4;
      }

      &.folder:not(.root)::before {
        background-image: url("../assets/img/folder-open-snow.svg");
      }

      &.collapsed span.folder:not(.root)::before {
        background-image: url("../assets/img/folder-snow.svg");
      }
    }
  }
}

// Light mode specific
body:not(.dark-mode) {
  .file-tree li span:not(.root):hover::before {
    background-color: var(--primary-color);
  }
}
