// Variables y configuraciones globales
@import url("https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css");

:root {
  --primary-color: #1f2937;
  --primary-color-light: #374151;
  --secondary-color: #e2e8f0;
  --secondary-color-light: #e5e7eb;
  --border-radius: 0.375rem;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f7fafc;
  color: var(--primary-color);
  font-family: ui-sans-serif, system-ui;
  margin: 0;
  display: flex;
  width: 100%;
  line-height: 1.25;

  &.dark-mode {
    background-color: #2b3544;

    .content .container {
      background-color: var(--primary-color);
      color: snow;
    }

    .glb-btn-main {
      background-color: var(--secondary-color);
      color: var(--primary-color);

      &:hover {
        background-color: var(--primary-color-light);
        color: snow;
      }
    }
  }
}

.content {
  flex-grow: 1;
  padding: 2.5rem;

  .container {
    position: relative;
    background-color: snow;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding: 2rem 2rem 2rem;

    h2 {
      margin: 0 0 2rem;
    }
  }
}

header {
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  color: snow;
  padding: 1rem;
  margin-bottom: 2rem;

  h1 {
    font-size: 1.25rem;
    font-weight: normal;
    line-height: 1.75rem;
    margin: 0;
  }
}

.glb-btn {
  &-main, &-secondary {
    border: none;
    border-radius: var(--border-radius);
    box-shadow: none;
    cursor: pointer;
    font-weight: bold;
    font-style: normal;
    font-size: 0.85rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: all 0.2s;
  }

  &-main {
    background-color: var(--primary-color);
    color: snow;

    &:hover {
      background-color: var(--primary-color-light);
    }
  }

  &-secondary {
    background-color: transparent;
    color: var(--primary-color);

    &:hover {
      background-color: var(--primary-color);
      color: snow;
    }
  }
}