aside.sidebar {
  background-color: var(--primary-color);
  color: snow;
  min-height: 100vh;
  min-width: 260px;
  padding: 0.5rem;
  position: relative;

  &.hidden {
    min-width: 2.75rem;
    padding: 0;

    *:not(.sidebar-toggle) {
      display: none;
    }

    button.sidebar-toggle {
      top: 0;
      right: 0.25rem;
      padding: 0.25rem 0.5rem;
    }
  }

  h2 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin: 0;
    padding-left: 0.5rem;
  }

  button.sidebar-toggle {
    position: absolute;
    top: 0.25rem;
    right: 1.5rem;
    background-color: transparent;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    color: var(--secondary-color-light);
    font-size: 24px;
    padding: 0.25rem 0.5rem;
    z-index: 1000;

    &:hover {
      background-color: var(--primary-color-light);
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    margin-top: 1.25rem;

    a {
      color: snow;
      border-radius: var(--border-radius);
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1.25rem;
      margin-bottom: 0.25rem;
      padding: 0.5rem;
      text-decoration: none;

      &:hover {
        background-color: var(--primary-color-light);
      }
    }
  }

  #dark-mode-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 1rem;
    right: 1.5rem;
    background: transparent;
    border: none;
    border-radius: 50%;
    color: snow;
    cursor: pointer;
    font-size: 1.25rem;
    padding: 0.75rem;
    width: 44px;
    height: 44px;

    &:hover {
      background-color: var(--primary-color-light);
    }
  }
}