:root {
  --border-radius: 0.5rem;
}

.v-theme--dark {
  --v-border-color: 255, 0, 0; /* Formato RGB */
  --v-border-opacity: 1;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.text-none {
  text-transform: none !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}
