.container {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &.center {
    justify-content: center;
    align-items: center;
  }
}

.repo-general-info {
  // column-count: 2;

  p {
    font-weight: bold;
    margin: 0 0 1rem;
  }

  span {
    font-weight: normal;
  }
}

.properties-wrapper {
  display: flex;
  width: 100%;
}

.file-tree-wrapper {
  background: white;
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius);
  min-width: 270px;
  height: fit-content;
  min-height: 600px;
  max-height: 100%;
  overflow-x: auto;
  overflow-y: auto;
  padding: 1rem;
  margin-right: 2rem;

  .dark-mode & {
    background-color: var(--primary-color-light);
  }
}

.repo-properties {
  flex-grow: 1;
  padding-left: 2rem;
  border-left: 2px solid var(--primary-color-light);
}

.filters-wrapper {
  display: flex;
}

.filter-class {
  position: relative;
  width: fit-content;
  margin-bottom: 2rem;
  margin-right: 2.5rem;

  #filter-table {
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    width: fit-content;

    &:focus {
      outline: none;
    }

    .dark-mode & {
      background-color: var(--primary-color-light);
      color: snow;
    }
  }

  i {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--primary-color);
  }
}

.filter-level {
  display: flex;
  gap: 0.5rem;
  margin-right: 4.5rem;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: none;
    color: snow;
    cursor: pointer;
    width: 32px;
    height: 32px;

    &:hover {
      transform: scale(1.125);
    }

    &.disabled:not(:hover) {
      background-color: #9b9ca4 !important;
      color: var(--primary-color);
      opacity: 0.35;
    }
  }
}

.filter-instances {
  min-width: 250px;
  margin-top: 0.75rem;
}

// Slider
.range-slider {
  &.noUi-target {
    border: none;
    box-shadow: none;
    height: 0.5rem;
  }

  .noUi-connects {
    background-color: #c8c8c8;

    .dark-mode & {
      background-color: snow;
    }
  }

  .noUi-connect {
    background-color: var(--primary-color);

    .dark-mode & {
      background-color: var(--primary-color-light);
    }
  }

  .noUi-handle {
    border-radius: 50%;
    background-color: snow;
    box-shadow: none;
    width: 1rem !important;
    height: 1rem !important;
    border: 2px solid var(--primary-color);
    right: -5px !important;
    top: -4px !important;

    &:after,
    &:before {
      content: none;
    }

    .dark-mode & {
      background-color: snow;
    }
  }
}

.slider-value {
  margin-top: 0.5rem;
}

table {
  width: 100%;
  border-spacing: 0;

  thead {
    background-color: var(--primary-color);
    color: snow;

    .dark-mode & {
      background-color: var(--primary-color-light);
    }
  }

  th {
    text-align: left;
    padding: 0.75rem 1rem;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 0.5rem;

    i {
      margin-left: 0.5rem;
    }

    &:nth-child(1) {
      border-radius: var(--border-radius) 0 0 var(--border-radius);
    }

    &:last-child {
      border-radius: 0 var(--border-radius) var(--border-radius) 0;
    }

    &:nth-child(2),
    &:nth-child(3) {
      text-align: center;
    }
  }

  td {
    padding: 0.25rem 1.25rem;

    &:nth-child(2),
    &:nth-child(3) {
      text-align: center;
    }

    span.element-level {
      display: flex;
      width: 2rem;
      height: 2rem;
      justify-content: center;
      align-items: center;
      color: snow;
      font-size: 0.875rem;
      font-weight: 500;
      margin: auto;
    }
  }

  tbody {
    tr:first-child td {
      padding-top: 1rem;
    }

    tr:not(:last-of-type) td {
      border-bottom: 1px solid var(--primary-color);

      .dark-mode & {
        border-color: rgba(255, 250, 250, 0.5);
      }
    }
  }
}
